/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";

body {
  background-color: #f0edf5;
}
.desktop {

  .balance {
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .text-vertical {
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .balance {
    .amount strong {
      font-size: 35px;
    }
    .credit strong {
      font-size: 35px;
    }
    .total strong {
      font-size: 35px;
    }
    .item {
      padding: 1.5rem;
    }
  }
  .notification-icon {
    position: relative;
    display: block;
    .notification_count{
      position: absolute;
      background-color: yellow;
      line-height: 10px;
      text-align: center;
      border-radius: 7px;
      text-decoration: none;
      display: block;
      top: 6px;
      padding: 3px 5px;
      font-weight: bold;
      right: -6px;
      font-size: 12px;
    }
  }
  $table_border: #efefef;
  .operations-list {
    padding: 60px 115px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 15px 30px rgba(60, 44, 73, 0.08);
    .table {
      border-radius: 10px;
      .title {
        height: 30px;
        background: #fff;
        border-left: 2px solid $table_border;
        border-right: 2px solid $table_border;
        border-top: 2px solid $table_border;
        border-radius: 10px 10px 0  0;
      }
      .content {
        padding-top: 15px;
        padding-bottom: 15px;
        background: white;
        border-left: 2px solid $table_border;
        border-right: 2px solid $table_border;
        border-top: 2px solid $table_border;
        .align-self-start {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &.set-border {
          border-bottom: 2px solid $table_border;
          border-radius: 0  0 10px 10px ;
        }
        &.no-read {
          background: $table_border;
        }
      }
      .align-items-center {
        .full_text {
          width: 100%;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-bottom: 20px;
        }
      }
      .content-accordion {
        &.set-border {
          border-bottom: 2px solid $table_border;
          border-radius: 0  0 10px 10px;
        }
        background: white;
        border-left: 2px solid $table_border;
        border-right: 2px solid $table_border;
      }
    }
  }
  .accordion:hover {
    .collapsed {
      cursor: pointer;
      background: #efefef;
    }
  }

}

.mobile {
  .col-sm-4 {
    width: unset;
  }
  .balance {
    display: flex;
    justify-content: center;
    border-radius: 1
  }
  .text-vertical {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .balance {
    .amount strong {
      //font-size: 35px;
    }
    .credit strong {
      //font-size: 35px;
    }
    .total strong {
      //font-size: 35px;
    }
    .item {
      //padding: 1.5rem;
    }
  }
  .notification-icon {
    position: relative;
    display: block;
    .notification_count{
      position: absolute;
      background-color: yellow;
      line-height: 10px;
      text-align: center;
      border-radius: 7px;
      text-decoration: none;
      display: block;
      top: 6px;
      padding: 3px 5px;
      font-weight: bold;
      right: -6px;
      font-size: 12px;
    }
  }
  $table_border: #efefef;
  .operations-list {
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 15px 30px rgba(60, 44, 73, 0.08);
    .table {
      border-radius: 10px;
      .title {
        height: 30px;
        background: #fff;
        border-left: 2px solid $table_border;
        border-right: 2px solid $table_border;
        border-top: 2px solid $table_border;
        border-radius: 10px 10px 0  0;
      }
      .content {
        padding-top: 15px;
        padding-bottom: 15px;
        background: white;
        border-left: 2px solid $table_border;
        border-right: 2px solid $table_border;
        border-top: 2px solid $table_border;
        .align-self-start {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &.set-border {
          border-bottom: 2px solid $table_border;
          border-radius: 0  0 10px 10px ;
        }
        &.no-read {
          background: $table_border;
        }
      }
      .align-items-center {
        .full_text {
          width: 100%;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-bottom: 20px;
        }
      }
      .content-accordion {
        &.set-border {
          border-bottom: 2px solid $table_border;
          border-radius: 0  0 10px 10px;
        }
        background: white;
        border-left: 2px solid $table_border;
        border-right: 2px solid $table_border;
      }
    }
  }
  .accordion:hover {
    .collapsed {
      cursor: pointer;
      background: #efefef;
    }
  }
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-item {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.btn.btn-primary.btn-lg.btn-block {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 35px;
  margin-top: 10px;
}

.btn.btn-success.btn-lg.btn-block {
  padding: 20px;
  margin-bottom: 50px;
  width: 1050px;
  height: 60px;
  line-height: 25px;
}

.nav-item.active {
  width: auto;
  height: 30px;
}

.nav-link {
  padding: 6px;
}

h2 {
  margin-left: 117px;
}
